.card {
    /*border: 1px solid #dbdbdb;*/
    border-radius: 20px;
    max-width: 350px;
    max-height: 200px;
    overflow: hidden;
    transition: all 0.6s ease;
    will-change: height;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
    flex-direction: column;
    padding: 2%;
    box-sizing: border-box;
  }
  
  .title {
    cursor: pointer;
    padding: 3%;
  }
  
  .card p {
    opacity: 0;
    transition: all 0.6s ease;
    padding: 3%;
  }
  
  /*div,
  p {
    box-sizing: border-box;
  }*/
  
  .card.expand {
    max-height: none;
  }
  
  .card.expand p {
    opacity: 1;
  }
  