* {
  margin: 0;
  padding: 0;
}

.content {
  padding: 60px 15%;
}

.searchbar {
  padding-top: 5%;
}

.searchbar input {
  margin-left: 0 !important;
  width: 55%;
}

.searchbar button {
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--navy);
}

.searchbar button:hover {
  background-color: var(--rojoUR);
  border: none;
}

.cursosLista {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas con el mismo tamaño */
  gap: 120px;
}

.cursosLista1 {
  padding-top: 5%;
  /* display: flex; */
  /* Center horizontally */
  justify-content: center;
}

.cursosLista1-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tres columnas con el mismo tamaño */
  gap: 15px;
}

/* Estilos para el modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para oscurecer el fondo */
  z-index: 1;
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 500px;
  height: auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el botón de cerrar */
.modal-content button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: var(--rojoUR);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 1380px) {
  .cursosLista1-grid { 
    grid-template-columns: repeat(3,1f); /* Tres columnas con el mismo tamaño */
    /* gap: 15px; */
  }
}

/* Breakpoint 992px (tablet design)*/
@media (max-width: 992px) {
  .searchbar input {
    margin-left: 0 !important;
    min-width: 300px;
    width: 50%;
  }

  .content {
    padding: 40px 10%;
  }

  .cursosLista1-grid {
    grid-template-columns: repeat(2, 1fr); /* Muestra 2 tarjetas por fila */
  }
}

/* Breakpoint 768px (mobile design)*/
@media (max-width: 575px) {
  .searchbar input {
    margin-left: 0 !important;
    min-width: 200px;
  }

  .content {
    padding: 40px 5%;
  }

  .cursosLista1-grid {
    grid-template-columns: repeat(1, 1fr); /* Muestra 1 tarjetas por fila */
  }
}
